/* reset */
*{ margin: 0; padding: 0; }
a{ text-decoration: none; color: inherit; }
li{ list-style: none; }
body{
    background-color: $bg-color;
    color: $text-color;
    font-family: 'MaruBuri';
    word-break: keep-all;
}